# Dependency directories
node_modules/

# Environment variables (Crucial for Miorah security)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads (Keep your local test images private)
# We usually ignore the content but keep the folder
uploads/*
!.gitkeep